/* generic styling */
* {
  font-family:  Helvetica, Arial, sans-serif;
}
body {
  background-color: #778899;
}
div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* navbar style */
nav {
  background-color: #002F6C;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: right;
  text-align: right;
}
.navbar-link {
  color:black;
}
.navbar-link:hover {
  color:grey;
}
li {
  display: inline-flex;
  flex-direction: row;
  padding-inline: 5px;
}
/* about me section */
#about-me {
  align-items: center;
  padding: 5px;
  justify-content: center;
}
#about-me-img {
  max-width: 30%;
  border: 1px solid black;
  margin-right: 10px;
}
#about-me-text {
  max-width: 65%;
}
/* application cards */
.app-body {
  width: 100%;
  justify-content: center;
  border-top: 3px solid #002F6C;
  border-bottom: 3px solid #002F6C;
}
.app-card {
  justify-content: center;
}
.app-card > div {
  border: 3px solid #002F6C;
  margin: 10px;
  align-items: flex-end;
  min-width: 80%;
  opacity: 60%;
}
.app-card > div:hover {
  opacity: 100%;
}
.app-card-text {
  max-height: 30%;
  flex-direction: column;
  max-width: 50%;
  margin: 10px;
  margin-left: 0px;
  justify-content: end;
  background-color: #002F6C;
  text-align: center;
  padding-inline: 5px 5px;
  color:seashell;
}
.app-card-text > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.first {
  min-width: 100%;
  min-height: 300px;
}
.secondary {
  width: 50%;
  min-height: 300px;
}
.app-card img {
  max-width: 400px;
  height: auto;
}
/* contact info */
#contact-me-header {
  border-right: 4px solid black;
  min-width: 20%;
}
#contact-me-info {
  justify-content: space-evenly;
  min-width: 75%;
}
#contact-me-info > a {
  margin: 16px;
}